.nav-item{
	border:3px solid black;
	background-color: #fff;
	margin:15px 20px;
	font-weight:bold;
}
.nav-link{
	color:#000 !important;
	font-family: "Oleo Script", system-ui;
}
.nav-link.active{
	background-color: grey;
}
.c_left{
	display: flex;align-items: center;justify-content: center;border:1px solid #333;
}
.soc a i{
	font-size: 25px;
	margin:8px 20px;
	color:#000;
}
.c_left h6{
	font-size: 20px;
}
.c_left p{
	font-size: 20px;
	text-align: center;
}
.soc{
	border:1px solid #333;
}


.contact{
	background-color: #d0f9db;
}
.anime{
	height:350px;
	width: 100%;
	object-fit: cover;
}

.map iframe{
	width:500px;
	height:400px;
}

@media only screen and (max-width: 767px){
	.navvs{
		margin:0 auto !important;
	}
	.map iframe{
		width:100%;
	}
}

















.offr{
	position: relative;
}
 .star-badge {
      position: absolute;
      width: 200px; /* Adjust size */
      height: 200px;
      background: url("../images/star1.png") no-repeat center/contain;
      filter: hue-rotate(320deg) saturate(5); /* turns green star to RED */
      display: flex;
      justify-content: center;
      align-items: center;
      animation: scaleUp 2s infinite alternate ease-in-out;
      top:50px;
      left:0;
    }

    .star-text {
      color: white;
      font-size: 14px;
      line-height: 18px;
      font-weight: bold;
      text-align: center;
      padding: 10px;
      text-shadow: 1px 1px 3px rgba(0,0,0,0.6);
    }

    @keyframes scaleUp {
      from {
        transform: scale(1);
      }
      to {
        transform: scale(1.2);
      }
    }